#example {
    width: 75px;
    height: 75px;
    background-color: black;
    color: white;
    -moz-transition: all 2s ease-in-out 0.5s;
    -o-transition: all 2s ease-in-out 0.5s;
    -webkit-transition: all 2s ease-in-out 0.5s;
    transition: all 2s ease-in-out 0.5s;
    margin-bottom: 20px;
}

#example:hover {
   background-color: red;
}
