@import "foundation/normalize";
@import "foundation/foundation";

html, body {
  background-color: #f6f6f6;
  height: 100%;
}

#container {
  display: flex;
  height: 100%;
}

#navigation {
  background-color: #374a5c;
  color: white;
  font-family: $header-font-family;
  height: 100%;
  text-align: center;
  width: 25%;
  display: flex;
  text-align: center;
  align-items: center;

  ul {
    font-size: 24px;
    list-style: none;
    margin: 10px 0 0 0;
    width: 100%;
  }

  li {
    margin-bottom: 10px;
    width: 100%;
  }

  a {
    color: white;
    margin-left: 5px;
  }
}

#content {
  height: 100%;
  width: 75%;
  padding: 0 20px;
}

.splash {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  h3 {
    font-size: 1.4rem;
  }
}

#recent-posts {
  .posts {
    list-style-type: none;
  }
}

.contact {
  a {
    color: inherit;
    text-decoration: underline;
  }
}